body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.figura {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(158, 158, 158);
}

.cuadrado {
    border-radius: 0%;
}

.circulo {
    border-radius: 50%;
}

.rojo {
    background-color: rgb(255, 90, 90);
}

.azul {
    background-color: rgb(48, 48, 255);
}

.verde {
    background-color: rgb(2, 255, 2);
}

.boton-esquina {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    z-index: 10;
}

.inferior-izquierda {
    left: 20px;
}

.inferior-derecha {
    right: 20px;
}